@font-face {
    font-family: 'VerdanaProW01-CnSemiBold';
    src: url('../fonts/VerdanaProW01-CnSemiBold.woff2') format('woff2'),
        url('../fonts/VerdanaProW01-CnSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}